<a href="https://colab.research.google.com/github/dinesh1190/Python_Basics/blob/main/Python_Basic_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

Answer 1 :
 Values:

'hello' (string)
-87.8 (float)
6 (integer)

Expressions:

*(multiplication operator)
-(subtraction operator)
/ (division operator)
+(addition operator)

In [ ]:
Answer 2 :
String in Python:

1.a sequence of characters enclosed in single quotes (''), double quotes ("") or triple quotes (''' ''').
2.used to store and manipulate textual data.

Examples of strings in Python: 'hello', "world", "12345".

Variable in Python:

1.reference to a value stored in the computer's memory.
2.used to store and manipulate various types of data, including strings.
3.Before using a variable, it needs to be declared and assigned a value.
The value assigned to a variable can be a string, number, or any other valid data type in Python.
Once a variable is assigned a value, it can be used to perform operations or retrieve the stored value.

In [ ]:
Answer 3 :

1.Integer (int):
The integer data type represents whole numbers without decimal points.
Examples of integers: -3, 0, 42, 1000.
Integers can be positive, negative, or zero.

2.String (str):
The string data type represents a sequence of characters.
Strings are enclosed in single quotes (''), double quotes ("") or triple quotes (''' ''').
Examples of strings: 'hello', "world", "12345".
Strings are used to store and manipulate textual data.

3.Float (float):
The float data type represents decimal numbers, also known as floating-point numbers.
Examples of floats: -3.14, 0.5, 3.0, 123.456.
Floats can represent both positive and negative numbers, and they can include a fractional part.

In [ ]:
Answer 4 :
In Python, an expression is a combination of values, variables, operators, and function calls that evaluates to a single value

1.Values: Values can be literals (directly written in the code) or variables that hold data. Examples of values include integers (e.g., 5), strings (e.g., 'hello'), floats (e.g., 3.14), and more.

2.Operators: Operators are symbols that perform specific operations on values or variables. Python provides various types of operators, such as arithmetic operators (+, -, *, /), comparison operators (==, !=, <, >), logical operators (and, or, not), and more.

3.Variables: Variables are used to store values that can be referenced and manipulated within an expression. They are typically declared with a name and assigned a value.

4.Function calls: Functions are reusable blocks of code that perform specific tasks. In an expression, function calls can be used to execute functions and obtain a return value.

In [ ]:
Answer 5:
The key difference between an expression and a statement is that an expression produces a value when evaluated, while a statement doesn't necessarily produce a value. Instead, statements are executed to perform some action or control the flow of the program.

In the case of an assignment statement like spam = 10, it is a statement. It assigns the value 10 to the variable spam, but it does not produce a value itself.

In [8]:
Answer 6:
bacon = 22
bacon + 1

23

In [5]:
Answer 7:
'spam'+'spamspam'
'spam' * 3

'spamspamspam'

In [ ]:
  Answer 8 :
  1.Python allows variable names to start with a letter (a-z, A-Z) or an underscore (_).
2.Python does not allow variable names to start with a number.

In [ ]:
Answer 9:
1.Integer conversion: int()

-The int() function can be used to convert a value into an integer.
-It takes a value as an argument and returns its integer representation.

2.Floating-point conversion: float()

-The float() function is used to convert a value into a floating-point number.
-It takes a value as an argument and returns its floating-point representation.

3.String conversion: str()

-The str() function is used to convert a value into a string.
-It takes a value as an argument and returns its string representation.

In [9]:
Answer 10:
'I have eaten' + 99 + 'burritos'

SyntaxError: ignored

In [12]:
'I have eaten' +' '+ str(99) + ' ' + 'burritos'

'I have eaten 99 burritos'