<a href="https://colab.research.google.com/github/dinesh1190/Python_Basics/blob/main/Python_Basics16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Answer 1

years_list = [1990, 1991, 1992, 1993, 1994, 1995]

In [ ]:
Anaswer 2


years_list = [1990, 1991, 1992, 1993, 1994, 1995]
third_birthday_year = years_list[2]
print(third_birthday_year)

1992

In [ ]:
Answer 3

years_list = [1990, 1991, 1992, 1993, 1994, 1995]
oldest_year = years_list[-1]
print(oldest_year)

1995

In [ ]:
Answer 4

things = ["mozzarella", "cinderella", "salmonella"]

In [ ]:
Answer 5


things = ["mozzarella", "cinderella", "salmonella"]
things[1] = things[1].capitalize()
print(things)

['mozzarella', 'Cinderella', 'salmonella']

In [ ]:
Answer 6

surprise = ["Groucho", "Chico", "Harpo"]

In [ ]:
Answer 7
surprise = ["Groucho", "Chico", "Harpo"]
surprise[-1] = surprise[-1].lower()[::-1].capitalize()
print(surprise)

['Groucho', 'Chico', 'Oprah']

In [ ]:

Answer 8

e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [ ]:
Answer 9

french_word = e2f["walrus"]
print(french_word)

morse

In [ ]:
Answer 10


f2e = {value: key for key, value in e2f.items()}
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [ ]:
Answer 11


english_word = f2e["chien"]
print(english_word)

dog

In [ ]:
Answer 12


english_words = set(e2f.keys())
print(english_words)

{'walrus', 'dog', 'cat'}

In [ ]:
Answer 13

life = {
    'animals': {
        'cats': ["Henri", "Grumpy", "Lucy"],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

In [ ]:
Answer 14


top_keys = life.keys()
print(top_keys)

dict_keys(['animals', 'plants', 'other'])

In [ ]:
answer 15


animal_keys = life['animals'].keys()
print(animal_keys)

dict_keys(['cats', 'octopi', 'emus'])

In [ ]:
Answer 16


cat_values = life['animals']['cats']
print(cat_values)

['Henri', 'Grumpy', 'Lucy']